body {
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f7f6;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 30px auto;
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

/* Styling Header & Gambar */
header {
    text-align: center;
    margin-bottom: 30px;
}

header img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 8px;
}

h1 {
    color: #004a87; /* Warna Biru UNS */
    margin-top: 15px;
}

/* Styling Tabel */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th{
    background-color: #004a87;
    color: #ffffff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Styling Tombol */
.btn-resmi {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffc107;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
    margin-bottom: 30px;
}

.btn-resmi:hover {
    background-color: #e0a800;
}

/* Styling List PSDKU */
.daftar_kampus {
    background-color: #e9ecef;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 30px;
}

.daftar_kampus ul {
    list-style-type: disc;
    padding-left: 20px;
    margin: 0,
}
.daftar_kampus li {
    padding: 8px 12px;
    margin-bottom: 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Efek Hover untul List Item */
.daftar_kampus li:hover {
    background-color: #004a87;
    color: white;
    cursor: pointer;
}

.daftar_kampus li a {
    text-decoration: none;
    color: inherit; /* Mengikuti warna teks pada li */
    display: block; /* Agar seluruh area li bisa diklik */
}

/* Styling Form Input */
.form-section {
    background-color: #ffffff;
    padding: 25px 30px;
    border-radius: 10px;
    border: 1px solid #eaeaea;
    box-shadow: 0 8px 24px rgba(149, 157, 165, 0.15); /* Bayangan lembut */
}

.form-section h2 {
    color: #333333;
    border-bottom: 2px solid #004a87;
    padding-bottom: 10px;
    display: inline-bloc;
}

.form-section input[type="text"] {
    padding: 12px;
    width: calc(100% - 130px); /* Responsif menyisakan ruang untuk  tombol*/
    border: 1px solid #cccccc;
    border-radius: 6px;
    margin-right: 10px;
    font-size: 16px;
}

.form-section input[type="text"]:focus {
    border-color: #004a87; /* Warna border berubah saat diklik */
    outline: none;
}

.form-section button {
    padding: 12px 20px;
    background-color: #004a87;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    transition: background-color 0.3s;
}

.form-section button:hover {
    background-color: #003366;
}